* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    background-color: #322C2B;
}

nav {
    text-align: center;
    justify-content: center;
    display: flex;
}


#navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #803D3B;
    width: 75%;
    text-align: center;
    border-radius: 20px;
    padding: 20px 0 20px 0;
    margin: 20px 0 0 0;
}

.navlink {
    font-size: 100%;
    text-decoration: none;
    color: #E4C59E;
}

.activeNavLink {
    color: #322C2B;
}

#right {

    padding: 0 0 100% 0;
    text-align: right;
}


#rightinside {
    width: 50%;
    background-color: #E4C59E;
}

#intro {
    background-color: #803D3B;
    margin: 20px;
    width: 60%;
    border-radius: 20px;
}

#intro h2 {
    padding: 10px 0 0 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #803D3B;
    color: #E4C59E;
    text-align: center;
    padding: 20px 0 20px 0;
    border-radius: 20px 20px 0 0;
}



/* for socials.html */

#schead {
    text-align: center;
    color: #E4C59E;
    padding: 20px 0 20px 0;
    background-color: #803D3B;
    border-radius: 0 0 20px 20px;
    margin: 0 0 20px 0;
}

#link {
    display: flex;
    justify-content: center;
}

.link {
    background-color: #803D3B;
    text-align: center;
    width: 75%;
    padding: 20px 0 20px 0;
    border-radius: 20px;
    margin: 10px 0 10px 0;

}

.linktext {
    font-size: 100%;
    color: #E4C59E;
    text-decoration: none;
    /* background-color: red; */
}