@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu Mono', monospace;
}

body {
    padding: 0px;
    margin: 0;
}

#HeadBox {
    color: aliceblue;
}

#Heading {

    font-size: 60px;
    padding: 10px 0 10px 0;
    margin: 0;
    text-align: center;
    color: white;
    background-color: rgb(47, 47, 54);
}

#subhed {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}


#navbar {
    padding: 0px;
    margin: 0px;
}

#navbox {
    padding: 0px;
    margin: 0px;
    background: #1b1b1b;
    text-align: center;
}

.navicon {
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
}

#socials {
    padding: 20px 0 0 20px;
}

#prTi {
    font-size: 20px;
    padding: 10px 20px 20px 0;
}

#prDe {

    font-size: 15px;
}